extends layout

block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/bower_components/Materialize/dist/css/materialize.min.css')
    script(src='/bower_components/Materialize/dist/js/materialize.min.js')
