//link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
//link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel='stylesheet', href='/iconfont/material-icons.css')
//link(rel='stylesheet', href='/bower_components/Materialize/dist/css/materialize.min.css')

//script(src='/bower_components/Materialize/dist/js/materialize.min.js')





script.
    console.log("aaa")
    $().ready(function () {
        console.log("aca")
        $('ul.tabs').tabs();
    });