extends layout

block content
  script(langauge='javascript', src='https://code.jquery.com/jquery-1.12.3.min.js')
  script(langauge='javascript', src='/javascripts/test.js')
  h1= title
  p Welcome to #{title}
