extends layout

block content
    script(src="/bower_components/bluebird/js/browser/bluebird.min.js")
    script(language='javascript', src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    //link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        //link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/iconfont/material-icons.css')
    link(rel='stylesheet', href='/bower_components/Materialize/dist/css/materialize.min.css')

    script(src='/bower_components/Materialize/dist/js/materialize.min.js')
    script(src='/js/openorange.js')
    script(src='/openorange/lib/windowmanager.js')
    script(src='/js/window_test.js')

    header#header.page-topbar
        // start header nav
        .navbar-fixed
            nav.navbar-color
                .nav-wrapper
                    ul.left
                        li
                            h1.logo-wrapper
                                a.brand-logo.darken-1(href='index.html')
                                    img(src='images/materialize-logo.png', alt='materialize logo')
                                span.logo-text Materialize
                    .header-search-wrapper.hide-on-med-and-down
                        i.mdi-action-search
                        input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Explore Materialize')
                    ul.right.hide-on-med-and-down
                        li
                            a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
                                img(src='images/flag-icons/United-States.png', alt='USA')
                            ul#translation-dropdown.dropdown-content
                                li
                                    a(href='#!')
                                        img(src='images/flag-icons/United-States.png', alt='English')
                                        span.language-select English
                                li
                                    a(href='#!')
                                        img(src='images/flag-icons/France.png', alt='French')
                                        span.language-select French
                                li
                                    a(href='#!')
                                        img(src='images/flag-icons/China.png', alt='Chinese')
                                        span.language-select Chinese
                                li
                                    a(href='#!')
                                        img(src='images/flag-icons/Germany.png', alt='German')
                                        span.language-select German
                        li
                            a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
                                i.mdi-action-settings-overscan
                        li
                            a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
                                i.mdi-social-notifications
                                    small.notification-badge 5
                            ul#notifications-dropdown.dropdown-content
                                li
                                    h5
                                        | NOTIFICATIONS
                                        span.new.badge 5
                                li.divider
                                li
                                    a(href='#!')
                                        i.mdi-action-add-shopping-cart
                                        |  A new order has been placed!
                                    time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
                                li
                                    a(href='#!')
                                        i.mdi-action-stars
                                        |  Completed the task
                                    time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
                                li
                                    a(href='#!')
                                        i.mdi-action-settings
                                        |  Settings updated
                                    time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
                                li
                                    a(href='#!')
                                        i.mdi-editor-insert-invitation
                                        |  Director meeting started
                                    time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
                                li
                                    a(href='#!')
                                        i.mdi-action-trending-up
                                        |  Generate monthly report
                                    time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
                        li
                            a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
                                i.mdi-communication-chat
                    // translation-button
                    // notifications-dropdown
        // end header nav



    .fixed-action-btn.horizontal
        a.btn-floating.btn-large.green
            i.large.material-icons add
        ul
            li
                a.btn-floating.blue#addSalesOrder
                    i.material-icons line_weight
            li
                a.btn-floating.yellow.darken-1#addItem
                    i.material-icons card_giftcard
            li
                a.btn-floating.red.darken-1#test
                    i.material-icons done
    div.row#workspace
        div.col.s12
            ul.tabs.workspace
    div#content