
.superlist-scrolltrack {
    float: right;
    #background: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(29,29,29)), color-stop(0.6, rgb(50,50,50)));
    border: 1px solid rgb(29, 29, 29);
    z-index: 10;
    cursor: pointer;
    width: 16px;
}

.superlist-scrollbar {
    #background: -webkit-gradient(linear, left top, right top, color-stop(0.2, rgb(88,88,88)), color-stop(0.6, rgb(64,64,64)));
    border: 1px solid rgb(25,25,25);
    position: relative;
    margin: auto;
    border-radius: 6px;
    width: 12px;
}


.superlist-item {
    position: absolute;
    #border-bottom: 1px dashed rgb(80,80,80);
    width: 100%;
    padding: 5px;
    font-size: 24pt;
}
