$grey-dark: #888;
$grey-light: #ddd;
$orange: #fcb451;
$orange-bkg: #e2a95d;

/* ----- Color de componentes ----- */
$icon-light: #fff;
$icon-dark: #888;
$icon-selected: #fcb451;
$link: #fff;
$link-over: #ddd;
// Header
$header-footer-bkg: #888;
// Subheader
$subheader-content: #fff;
$subheader-bkg: #85bb80;
$subheader-modified: #e2473c;
// Pipeline
$pipeline-done: #87c789;
$pipeline-progress: #7f7fdc;
$pipeline-pending: #bbb;
// Report
$report-thead-line: #d0d0d0;
$report-table-bkg: #f2f2f2;
// Tabs
$tabs-active-bkg: #fff;
$tabs-inactive-bkg: #eee;
$tabs-border: #ddd;
$tabs-active-text: #4caf50;
$tabs-inactive-text: #ccc;
$tabs-hover-text: #85bb80;
$tabs-indicator-line: #85bb80;
$tabs-content-bkg: #fff;
