$grey-dark: #888;
$orange: #fcb451;
$orange-bkg: #e2a95d;

/* ----- Color de componentes ----- */
// Header
$header-footer-bkg: #888;
$icon-color: #fff;
$link-over: #ddd;
$secondary-bar-bkg: #85bb80;
// 4ea96c
