$grey-dark: #888;
$grey-light: #ddd;
$orange: #fcb451;
$orange-bkg: #e2a95d;

/* ----- Color de componentes ----- */
$icon-color: #fff;
$icon-selected: #fcb451;
$link: #fff;
$link-over: #ddd;
// Header
$header-footer-bkg: #888;
// Subheader
$subheader-content: #fff;
$subheader-bkg: #85bb80;
$subheader-modified: #e2473c;
// 4ea96c
