.oo-main-header {
  .navbar-color {
    background: $header-footer-bkg;
  }
  .nav-wrapper {
    :last-child {
      padding-right: 0;
    }
  }
  .logo-wrapper {
    line-height: 0;
  }
  .logo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0 20px 0;
    .oo-logo {
      height: 66px;
    }
    .oo-icon {
      height: 58px;
    }
  }
  .header-search-wrapper {
      margin-top: 10px;
      width: calc(100% - 600px);
      height: 40px;
      display: inline-block;
      position: relative;
      &:before {
        color: $icon-light;
        content: "\f002";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.4em;
        position: absolute;
        right: 7%;
        top: 10px;
      }
      i {
        position: absolute;
        font-size: 24px;
        top: 6px;
        left: 24px;
        line-height: 32px !important;
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;
      }
      .header-search-input {
        appearance: textfield;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        @include border-radius(3px);
        display: block;
        font-size: 16px;
        font-weight: 400;
        height: 24px;
        outline: none;
        padding: 8px 20px 8px 8px;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        width: 92%;
        &.tt-hint {
          padding-left: 20px;
          padding-right: 0;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
        &:focus {
          background: #fff;
          border-bottom: none !important;
          box-shadow: none !important;
          color: #333;
        }
        @include placeholder(#fff, 16px);
      }
  }
  .oo-nav-icons {
    position: relative;
    > li {
      color: $icon-light;
      cursor: pointer;
      font-size: 1.7em;
      padding-right: 10px;
      &:last-child {
        border-left: 1px solid #eee;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 0;
      }
      &:hover {
        color: $link-over;
        .icon {
          position: relative;
          &:not(:only-child) {
            &:after {
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 8px solid #ddd;
              bottom: 0;
              content: '';
              height: 0;
              left: 5px;
              position: absolute;
              width: 0;
            }
          }
        }
        .oo-nav-options {
          display: inline-block;
        }
      }
      .oo-nav-options {
        background: $link-over;
        display: none;
        left: 0;
        position: absolute;
        top: 64px;
        width: 100%;
        li {
          float: none;
          line-height: 30px;
          a {
            width: 100%;
          }
          i {
            line-height: 30px;
            max-height: 30px;
            padding: 0 5px;
            &:hover {
              color: $icon-dark;
            }
          }
        }
      }
    }
  }
}

// responsive
@media only screen and (max-width: 600px) {
  .oo-main-header {
    .oo-nav-icons {
      > li {
        padding-right: 8px;
        &:hover:before {
          bottom: 15px;
        }
        .oo-nav-options {
          top:56px;
        }
      }
    }
  }
}
