@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -ms-box-shadow: $params;
  box-shadow: $params;
}

@mixin linear-gradient($from, $to) {
  background: $from; /* Old browsers */
  background: -moz-linear-gradient(top,  $from 0%, $to 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $from 0%, $to 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $from 0%, $to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder($color, $fontSize: 15px) {
  &::placeholder { color: $color; font-size: $fontSize; }
  &::-webkit-input-placeholder { color: $color; font-size: $fontSize; }
  &:-ms-input-placeholder { color: $color; font-size: $fontSize; }
  &::-moz-placeholder { color: $color; font-size: $fontSize; }
}
