@import 'colors';
@import 'mixins';
@import 'footer';
@import 'header';
@import 'listwindow';
@import 'report';
@import 'typeahead';
@import 'window';

body, #main, .wrapper, #content_section, .container, #workspace {
  //height: 100%;
}

#content_section>.container {
  &>.row  {
    //height: 100%;
      &>.col {
      //height: 100%;
    }
  }
}


.oo-workspace-container {
  //height: 100%;
  .oo-container-title:not(:empty) {
    background-color: $subheader-bkg;
    color: $subheader-content;
    margin: 10px 0 0;
    padding: 0 10px;
    &.oo-modified {
      background: $subheader-modified;
    }
    .oo-title-text {
      font-size: 16px;
    }
    .container-search-wrapper {
      height: 40px;
      margin-top: 10px;
      padding: 0;
      position: relative;
      &:before {
        color: $icon-light;
        content: "\f002";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.4em;
        position: absolute;
        right: 3%;
        top: 10px;
      }
      i {
        height: 0;
      }
      .container-search-input {
        border-color: $grey-light;
        margin: 0;
        padding: 0 10px;
        width: 94%;
        &:focus {
          outline: none;
        }
        @include placeholder($grey-light);
        &.tt-hint {
          color: $grey-light;
        }
      }
      .tt-menu {
        width: 98%;
        .tt-suggestion {
          font-size: 15px;
        }
      }
      .twitter-typeahead {
        display: inline !important;
      }
    }
    .oo-subnav-icons {
      position: relative;
      ul > li {
        color: $icon-light;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        &:hover {
          color: $link-over;
          .icon {
            position: relative;
            &:not(:only-child) {
              &:after {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #ddd;
                bottom: 0;
                content: '';
                height: 0;
                left: 3px;
                position: absolute;
                width: 0;
              }
            }
          }
          .oo-subnav-options {
            display: inline-block;
          }
        }
        .oo-subnav-options {
          background: $link-over;
          color: $link;
          display: none;
          left: 0;
          position: absolute;
          top: 64px;
          width: 100%;
          li {
            float: none;
            line-height: 30px;
            padding: 0 10px;
            a {
              width: 100%;
            }
          }
        }
        .icon {
          font-size: 1.5em;
          &.oo-selected {
            color: $icon-selected;
          }
        }
      }
    }
  }
}

.listwindow_gridXX {
  width: 100%;
  height: 350px;
}

.oo-report-header-row {
  font-weight: bold;
}

.oo-block-screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0;
  z-index: 9998;
  filter: alpha(opacity=0);
}

.oo-processing-screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.8;
  z-index: 9999;
  filter: alpha(opacity=80);

  img {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
