.oo-window {
  // smaller inputs
  // rewrite materialize form fields
  .input-field:not(.oo-select-field) {
    label {
      top: 0.3rem;
    }
    input:not([type]),
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search] {
      height: 2rem;
    }
    textarea.materialize-textarea {
      padding: 0.2rem 0;
    }
  }
  .oo-select-field {
    .dropdown-content {
      li {
        line-height: 1rem;
        min-height: 32px;
        > span {
          color: $grey-dark;
          font-size: 15px;
          line-height: 15px;
          padding: 8px 14px;
        }
      }
    }
  }
  .oo-radiobutton-field {
    p {
      margin: 0;
    }
  }
  .oo-checkbox-field {
    p {
      margin: 0;
    }
  }
  // END rewrite materialize form fields

  .pipeline {
    margin: 20px 0;
    span {
      background: $pipeline-done;
      color: $link-over;
      cursor: pointer;
      margin-left: -1px;
      padding: 8px 14px 8px 25px;
      position: relative;
      &:hover {
        color: $link-over;
      }
      &:not(:last-child):after {
        border-bottom: 17px solid transparent;
        border-left: 17px solid $pipeline-done;
        border-top: 17px solid transparent;
        content: '';
        height: 0;
        margin-left: 13px;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1;
      }
      &:not(:first-child):before {
        border-bottom: 17px solid transparent;
        border-left: 17px solid white;
        border-top: 17px solid transparent;
        content: '';
        height: 0;
        margin-left: -25px;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 0;
      }
      &[active=true] {
        background: $pipeline-progress;
        color: $link;
        cursor: default;
        &:not(:last-child):after {
          border-left-color: $pipeline-progress;
        }
        & ~ span {
          background: $pipeline-pending;
          &:not(:last-child):after {
            border-left-color: $pipeline-pending;
          }
        }
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .oo-pastewindow-opener {
    color: $icon-dark;
    cursor: pointer;
    right: 0;
    top: 1px;
    width: 2.5rem;
  }
  .pastewindow {
    .pastewindow_grid {
      padding-right: 24px;
    }
    .slick-header {
      .slick-header-columns,
      .slick-header-column {
        @include linear-gradient(#fafafa, #eee);
      }
      .slick-header-column {
        height: 25px;
        line-height: 25px;
      }
    }
    .ui-widget-content {
      &:hover {
        background: #ddd;
      }
      .slick-cell {
        border-bottom-color: transparent;
        cursor: pointer;
      }
    }
  }
  .tabs {
    margin-top: 20px;
    .tab {
      a {
        background: $tabs-inactive-bkg;
        border-bottom: 1px solid $tabs-border;
        color: $tabs-inactive-text;
        &.active {
          background: $tabs-active-bkg;
          border-bottom: 0 none;
          color: $tabs-active-text;
        }
        &:hover {
          color: $tabs-hover-text;
        }
      }
      &:not(:first-child) {
        a {
          border-left: 1px solid $tabs-border;
        }
      }
    }
    .indicator {
      background-color: $tabs-indicator-line;
      top: 0;
    }
  }
  div[id^="oo_TAB_"] {
    background: $tabs-content-bkg;
    float: left;
    padding: 20px 10px;
    width: 100%;
    .oodetail {
      td {
        padding: 0 5px;
        position: relative;
        .input-field {
          margin: 0;
        }
      }
      .picker {
        outline: none;
        right: 15px;
        top: 20px;
        z-index: 1002;
        &:before {
          color: $icon-dark;
          content: "\f073";
          cursor: pointer;
          position: absolute;
          right: 0;
        }
      }
      .oo-pastewindow-opener {
        top: 0;
      }
      .oo-delete {
        i {
          color: $icon-dark;
          cursor: pointer;
        }
      }
    }
  }


  .oo-window-header {
    border: 1px solid black;
    background: lightgray;
  }
  .oo-header-selector {
    .oo-selected {
      background: green;
    }
  }

  .oo-importance-high {
    font-size: 28pt !important;
    background: brown !important;
  }}
